<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AFPAR Hub 2022</title>
    <link rel="stylesheet" href="../../css/student-page.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/js/all.min.js"></script>
</head>
<body>
    <!-- Header - Navbar -->
    <header>
        <nav id="navbar" class="shadow-dark flex j-content-around">
            <div class="navbar-group-left flex j-content-center">
                <p class="title">SIMPLON</p>
            </div>

            <div class="navbar-group-center">
                <p>AFPAR 2022</p>
            </div>

            <div class="navbar-group-right flex j-content-center">
                <p class="title">MICROSOFT</p>
            </div>
        </nav>
    </header>

    <main id="main-content">
        <div class="flex flex-wrap j-content-center container">
            <div class="vertical-student-box card">
                <div class="profile-img-container flex j-content-center">
                    <img src="../../media/user-profile.jpg" alt="image profile" class="user-pp">
                </div>

                <div class="user-details">
                    <div class="txt-field">
                        <p>Nom Prénom</p>
                    </div>

                    <div class="txt-field">
                        <p>Email</p>
                    </div>

                    
                    <div class="txt-field">
                        <p>Naissance</p>
                    </div>
                </div>
            </div>

            <div class="right-student-box mx-2 ma-4">
                <div class="student-box card">
                    Description
                </div>

                <div class="student-box card">
                    Parcour
                </div>

                <div class="student-box card">
                    Media
                    <div class="galerie">
                        <div class="gallerie-box">
                            <img src="./medias/wordle.jpg" alt="">
                        </div>
                    </div>
                </div> 
            </div>
           
        </div>

    </main>

    <footer>
        <nav id="footer">

        </nav>
    </footer>
</body>
</html>